<nav class="siteHeader">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">
      <img src="/logo.jpg">
    </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Garrages', garrages_path %></li>
          <li><%= link_to 'Stuffs', stuffs_path %></li>
          <li><%= link_to 'SignOut', destroy_user_session_path, :method => 'delete' %></li>
        <% else %>
          <li><%= link_to 'LogIn', new_user_session_path %></li>
        <% end %>
      </ul>
  </div>
</nav>
