html, body {
  height: 100%; margin: 0; padding: 0;
}

/* map 크기 조절 */
.st-container {
  position: relative;
  z-index: 999;
  background: #faf8f6;
}

#container {
  padding: 0 5%;
  .content-section {
    position: relative;
    padding: 3% 0;
    .garrage_google_map {
      height: 480px;
    }
  }
}

/* main garrage list */
#container {
  h1 {
    margin: 0;
    font-size: 2em;
  }
}

/* navbar */

.siteHeader {
  min-height: 76px;
  overflow: visible;
  background-color: #EAEAEA;
  color: #f4f4f4;
  position: relative;
  z-index: 9999;
  .nav-wrapper {
    margin: 0 3%;
    .brand-logo {
      height: 100%;
      position: relative;
      float: left;
      display: inline-block;
      img {
        height: 100%;
      }
    }
  }
  a {
    outline: 0;
  }
}

#dropdown1 {
  width: 130px !important;
  top: 76px !important;
  li {
    text-transform: uppercase;
    text-align: center;
  }
}

.right {
  text-transform: uppercase;
  line-height: 76px;
  li {
    display: inline-block;
    a {
      display: block;
      font-size: 15px;
      color: #8E8E8E;
    }
  }
}

/* garrage list */

.content {
  position: relative;
  display: inline-block;
  width: 100%;
  .content-row {
    overflow: hidden;
  }
  .content-image {
    display: block;
    width: 100%;
    height: 225px;
  }
  .swiper-container {
    width: 70%;
    float: right;
    overflow: hidden;
    height: 270px;
  }
}

.empty-box {
  width: 100%;
  text-align: center;
  h3 {
    line-height: 230px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 60%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
  }
}
.swiper-slide:nth-child(2n) {
    width: 40%;
}
.swiper-slide:nth-child(3n) {
    width: 20%;
}

.each-content {
  margin-bottom: 30px;
  border: 1px solid #C7C3BD;
  height: 270px;
  margin-right: 20px;
  float: left;
  overflow: hidden;
  width: 27%;
  .icon-title {
    display: inline-block;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: 0;
    float: left;
    overflow: hidden;
    padding: 13px;
    color: #FC817B;
  }
  .info-address {
    display: inline-block;
    padding: 13px;
    float: right;
    h3 {
      margin: 0;
      font-size: 15px;
    }
  }
}
