html, body {
  height: 100%; margin: 0; padding: 0;
}

/* map 크기 조절 */
.st-container {
  position: relative;
  z-index: 999;
  background: #faf8f6;
}

#container {
  padding: 0 5%;
  .content-section {
    position: relative;
    padding: 3% 0;
    .garrage_google_map {
      height: 480px;
    }
  }
}

/* main garrage list */
#container {
  h1 {
    margin: 0;
    font-size: 2em;
  }
}

/* navbar */

.siteHeader {
  min-height: 76px;
  overflow: visible;
  background-color: #EAEAEA;
  color: #f4f4f4;
  position: relative;
  z-index: 9999;
  .nav-wrapper {
    margin: 0 3%;
    .brand-logo {
      height: 100%;
      position: relative;
      float: left;
      display: inline-block;
      img {
        height: 100%;
      }
    }
  }
  a {
    outline: 0;
  }
}
