/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

h1 {
  font-size: 3em !important;
}

label {
  font-size: 1.5em !important;
  display: inline-block;
}

input[type=text] {
  float: right;
  width: 50% !important;
}
