/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.stuff_field {
  h1 {
    font-size: 3em !important;
  }

  label {
    font-size: 1.5em !important;
    display: inline-block;
  }

  input[type=text] {
    float: right;
    width: 50% !important;
  }
}

/* content list */
.stuff-container {
  margin: 0 20px 0 20px;
  height: 100%;
  .stuff-talk {
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
  }
}
.each-content {
  margin-bottom: 30px;
  border: 1px solid #C7C3BD;
  height: 270px;
  margin-left: 13px;
  margin-right: 13px;
  float: left;
  overflow: hidden;
  width: 23%;
  .content-image {
    display: block;
    width: 100%;
    height: 225px;
  }
  .icon-title {
    display: inline-block;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: 0;
    float: left;
    overflow: hidden;
    padding: 13px;
    color: #FC817B;
  }
  .info-price {
    display: inline-block;
    padding: 13px;
    float: right;
    h3 {
      margin: 0;
      font-size: 15px;
    }
  }
}
